<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table>
		<tr>
			<td><a href="layout_auto.html">Auto Layout</a></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="layout_anchor.html">Anchor Layout</a></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="layout_absolute.html">Absolute Layout</a></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="layout_accordion.html">Accordion Layout</a></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="layout_border.html">Border Layout</a></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="layout_box.html">Box Layout</a></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="layout_card.html">Absolute Layout</a></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="layout_checkboxgroup.html">CheckBoxGroup Layout</a></td>
			<td></td>
		</tr>
	</table>
</body>
</html>